.review-container {
    display: flex;
    gap: 2rem;
    height: 300px;
    margin: auto;
    box-sizing:border-box;

}

.review-box {
    width: 25%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img {
    border-radius: 50%;
}